@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: rgb(254, 44, 85);
    --text-color: #161823;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//html {
//    //scroll-behavior: smooth;
//}



body {
    font-family: 'Roboto';
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

body::-webkit-scrollbar {
    display: none;
}

div::-webkit-scrollbar {
    display: none;
}

h2::-webkit-scrollbar {
    display: none;
}

body .tippy-box {
    background-color: #ff0000;
}


.default {
    height: 60px;
}
